.descriptionContainer {
    padding: 5px 5px 15px;
    border: solid 1px var(--back-light-grey);
    border-radius: 10px;
    background-color: var(--back-light-grey);
    margin-bottom: 10px;
    color: var(--border-grey);
}