
.descriptionContainer {
    padding: 5px 5px 15px;
    border: solid 1px var(--back-light-grey);
    border-radius: 10px;
    background-color: var(--back-light-grey);
    margin-bottom: 10px;
    color: var(--border-grey);
}

.title {
    margin: 0 0 10px;
    color: var(--title-grey);
    font-size: 16px;
    font-weight: 100;
}

.accordion {
    list-style: none;
    margin: 0; 
    padding: 0;
    background-color: var(--back-light-grey);
    border-radius: 10px;
}
