.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--title-grey);
    padding: 10px 30px 10px 15px;
}

.header a {
    color: var(--title-grey);
}

.mainTitle {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header a:hover {
    color: var(--border-grey);
    transition: ease-in-out;
}

@media (min-width: 600px) {
    .header {
        padding: 10px 80px 10px 80px;
    }
}