.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--title-grey);
    padding-right: 15px;
}

.header a {
    color: var(--title-grey);
}

.mainTitle {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header a:hover {
    color: var(--border-grey);
    transition: ease-in-out;
}

