.formContainer {
    padding: 5px 5px 15px;
    border: solid 1px var(--back-light-grey);
    border-radius: 10px;
    background-color: var(--back-light-grey);
    margin-bottom: 10px;
}

.title {
    margin: 0 0 10px;
    color: var(--title-grey);
    font-size: 16px;
    font-weight: 100;
}

.addTodoForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    border: 3px solid var(--title-grey);
    border-radius: 10px;
}

.selectConteiner {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 35px;
    height: 35px;
    margin: 1px;
    border: 1px solid var(--title-grey);
    border-radius: 5px;
}


.input {
    min-width: 75%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: aliceblue;
    font-size: 20px;
    background-color: transparent;
}

.select {
    border: none;
    appearance: none;
    padding: 0 10px;
    color: var(--border-grey);
    background-color: var(--back-light-grey);
    font-size: 20px;
    cursor: pointer;
    
}

.select:focus-visible {
    border: none;
    outline: none;
}

.addTodoForm button {
    width: 47px;
    background-color: var(--green);
    border-radius: 8px;
}