.container {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    margin: 0 0 20px 0;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; 
}

.value {
    margin: 0;
    text-align: left;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}