.doneSection {
    margin: 10px auto;
    color: aliceblue;
    margin: 10px auto;
    padding: 10px 15px;
    border: solid 1px var(--back-light-greyback-light-grey);
    border-radius: 10px;
    text-align: center;
    background-color: var(--back-light-grey);
    color: var(--border-grey);
}

.doneListContainer {
    padding: 5px 5px 15px;
    border: solid 1px var(--back-light-grey);
    border-radius: 10px;
    background-color: var(--back-light-grey);
}


.doneList {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 10px;
    color: var(--title-grey);
    font-size: 16px;
    font-weight: 100;
}